---
layout: splash
permalink: /
hidden: true
header:
  overlay_image: null
  overlay_color: null
  overlay_filter: null
  carousel_images:
    - /assets/images/banner1.jpg
    - /assets/images/banner0-min.JPG
    - /assets/images/banner2.jpg
    - /assets/images/banner3.jpg
    - /assets/images/banner4.jpg
excerpt: >
  Toronto's premiere Carnatic flute academy
feature_row:
  - image_path: /assets/images/tejesh_poster.jpg
    title: "Recent Events"
    excerpt: "Flute Arangetram of Tejesh Arujuna"
    url: "/concerts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

<h1 class="home-title">Venugānālayam</h1>

<h2 class="home-subtitle">Toronto's Premiere Carnatic Flute Academy</h2>
<!-- Decorative image below title -->
<img src="/assets/images/flute.png" alt="Flute Icon" class="home-title-image" />
{% include carousel.html %}
<!-- put this where you now have the image + text -->
<figure class="align-center appa-block">
  <img src="/assets/images/appa.jpg"
       alt="Appa"
       class="home-title-image" />
  <figcaption>
    <strong>Venu Gana Natha Varithi, Late Sri Suntharam</strong><br>
    The roots of Venuganalayam can be traced back to<br>
    Late Sri Suntharam Selvanayagam.
  </figcaption>
</figure>


Venuganalayam is a Toronto based music academy that has been providing meticulous Carnatic bamboo flute training to students in Canada and overseas. The academy was founded by Dr. Selvanayagam Thayaparan in 1996. Its roots can be traced back a few decades in time and associated with Late Sri Suntharam Selvanayagam from Nallur, Jaffna, Sri Lanka. Late Sri Suntharam Selvanayagam was a decorated flute artist in Sri Lanka, and the Guru and father of Dr. Thayaparan. Venuganalayam adopted his teaching methodology, style and tradition in its current flute training.

{% include feature_row %}


